body {
    background: #6e95eb;
}
.principal{
    background: #CCC;
    padding: 30px;
}
.itens{
    font-style: italic;
}
.beneficios{
    background-color: #FFFFFF;
    padding: 30px;
}
h2{
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    margin-right: 15%;
}
p{
    text-align: center;
}

    em strong{
        color: #410aa7;
}

div{
    text-align: center;
}